/* author: Harini Chamathka */

.productTable {
  width: 100%;
  margin: auto;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  margin-left: 300px;
}
.productTable table {
  width: 75%;
  margin-top: 20px;
}
.productTable table thead th {
  background-color: rgb(74, 75, 153);
  color: white;
}

.productTable .colNo {
  width: 2%; /* Adjust width according to needs */
}

.productTable .colName {
  width: 10%;
}

.productTable .colDescription {
  width: 25%;
}

.productTable .colPrice {
  width: 10%;
}

.productTable .colRating {
  width: 10%;
}

.productTable .colCategory {
  width: 10%;
}

.productTable .colStock {
  width: 5%;
}

.productTable .colVendor {
  width: 10%;
}

.productTable .colStatus {
  width: 5%;
}

.productTable .colImage {
  width: 5%;
}

.productTable .colActions {
  width: 10%;
}

.productTable table tbody td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.actionButtons button {
  margin: 0 5px;
}

.addBtn {
  background-color: rgb(40, 150, 115);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.productTable .searchBar {
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 850px;
  border-radius: 5px;
  border: 1px solid rgb(74, 75, 153);
}
