.profileContainer {
  width: 50%;
  margin: 100px auto;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  margin-left: 500px;
}

.profileContainer .table {
  width: 100%;
  border: 2px solid rgb(134, 139, 0);
}
